table, th, td {
    border: solid 2px black;
    border-collapse: collapse;
    padding: 10px;
}
th {
    text-align: center;
    background-color: gray;
    color: lightgrey;
    text-shadow: 1.5px 1.5px 5px black;
}
td {
    text-align: center;
    color: black;
}

tr:nth-child(even) {background-color: gainsboro;}

tbody#destaque:hover, tr:hover {
    background-color: #ccc;
}
