/*Propriedades do corpo da página*/
body{
    background-color: silver;/*Cor de fundo*/
}

/*Propriedades dos títulos principais das páginas*/
.titulosH1 {
    text-align: center;/*Alinhamento do texto*/
    font-size: 40px;/*Fonte do texto em pixels*/
    background-color: grey;/*Cor de fundo do h1*/
    color: lightgrey;

    border-style: inset;/*Estilo da borda*/
    border-color: grey;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    text-shadow: 1.5px 1.5px 5px black;/*Sombreamento da fonte*/

    font-family: "Times New Roman", Times, serif;/*Fonte utilizada e fámiia de fontes*/
}

/*Propriedades dos títulos secundários*/
.titulosH2 {
    text-align: center;
    font-size: 30px;
    margin-left: 150px;
    margin-right: 150px;

    background-color: grey;
    color: lightgrey;
    border-style: outset;
    border-color: gray;
    padding: 5px;
    text-shadow: 1.5px 1.5px 5px black;
    font-family: "Times New Roman", Times, serif;

    /*Comando para deixar o título pegajoso ao rolar a página*/
    position: sticky;
    top: 0;
}

/*São titulos que estão dentro de outras estruturas
  Eles não possuem propriedades de margem porque ja está
  inserida nas estruturas em que eles estão*/
.titulosH2Estilizado {
    text-align: center;
    font-size: 30px;

    background-color: grey;
    color: lightgrey;
    border-style: outset;
    border-color: gray;
    padding: 5px;
    text-shadow: 1.5px 1.5px 5px black;
    font-family: "Times New Roman", Times, serif;

    position: sticky;
    top: 0;
}

/*Porcentagens utilizadas nos generos*/
.porcentagens {
    text-align: left;
}

/*Conteudos utilizados na tabela do index a página principal*/
.conteudos {
    font-size: 20px;
    margin-left: 410px;
    margin-right: 410px;
}

/*Estruturas presentes no trabalho onde alguns h2 estão nelas, por isso
  a variação do h2*/
.formulario, .index, .banda, .instrumentos, .notas, .musicos, .generos, .historia {
    text-align: center;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

/*Alinhamento de algumas imagens*/
.imagens {
    text-align: center;
}

/*Alinhamento de todos os paragrafos das páginas*/
p {
    text-indent: 50px;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
}

/*Configurações de todos os links*/
a {
    text-decoration: none;
    background-color: grey;
    color: lightgrey;
    text-shadow: 1.5px 1.5px 5px black;
    padding: 4px;
}

/*Configurações iguais do article e footer*/
article, footer {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

/*Algumas diferenças*/
article {
    margin-top: 10px;
    border-top: 2px solid black;
}

footer {
    font-size: 20px;
    background-color: grey;
    color: lightgrey;

    border-style: outset;
    border-color: grey;
    text-shadow: 1.5px 1.5px 5px black;
}

/*Utilizado para a configuração das listas da página historia
  e notas*/
.listasCabecalhos {
    margin-left: 150px;
    margin-right: 150px;
}

/*Utilizado para textos muito compridos
  na pagina principal
  nos generos
  e nos instrumentos*/
.rolagem {
    width: auto;
    height: 400px;
    overflow: auto;
}

/*Configurações de algumas imagens na página notas*/
.claves, .clavesFa, .clavesDo {
    float: left;
    margin-left: 20%;
}

/*Características de alguns titulos h3 da página notas*/
.caracSom {
    background-color: grey;
    color: lightgrey;

    border-style: outset;
    border-color: grey;
    text-shadow: 1.5px 1.5px 5px black;
}
